@import 'config';
@import 'global';

// CUSTOM USER STYLES & IMPORTS

.header__top-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

.header__text{
	margin-left: auto;
	margin-right: 50px;
	span{
		color: $accent;
	}
}

.header__btn{
	padding: 4px;
	width: 72px;
	border-radius: 4px;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	&-login{
		background-color: $green;
	}
	&-register{
		background-color: $accent;
		margin-left: 7px;
	}
}

.header__menu{
	background-color: $bgcolor;
}
.menu{
	display: flex;
	height: 60px;
	align-items: center;
	a{
		color: #ffffff;
		font-size: 14px;
	}
	&__list{
		li{
			display: inline-block;
			& + li{
				margin-left: 30px;
			}
		}
	}
}

.search{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 533px;
	&__inner{
		padding: 155px 0 100px;
		color: #ffffff;
		text-align: center;
		&-title{
			margin-bottom: 10px;
			font-size: 48px;
			line-height: 72px;
			font-weight: 700;
		}
		&-text{
			margin-bottom: 50px;
			font-size: 20px;
			left: 30px;
			font-weight: 500;
		}
		&-form{
			max-width: 670px;
			margin: 0 auto;
			position: relative;
			input{
				display: block;
				width: 100%;
				height: 56px;
				border-radius: 4px;
				box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
				border: none;
				font-size: 14px;
				font-weight: 500;
				padding-left: 25px;
				padding-right: 60px;
				&::placeholder{
					color: #90a4ae;
				}
			}
			button{
				position: absolute;
				border: none;
				background-color: transparent;
				right: 20px;
				top: 16px;
			}
		}
	}
}