@import 'config';
@import 'global';

// CUSTOM USER STYLES & IMPORTS

//Start Header
.header__top-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

.header__text{
	margin-left: auto;
	margin-right: 50px;
	span{
		color: $accent;
	}
}

.header__btn{
	padding: 4px;
	width: 72px;
	border-radius: 4px;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	&-login{
		background-color: $green;
	}
	&-register{
		background-color: $accent;
		margin-left: 7px;
	}
}

.header__menu{
	background-color: $bgcolor;
}
.menu{
	display: flex;
	height: 60px;
	align-items: center;
	a{
		color: #ffffff;
		font-size: 14px;
	}
	&__list{
		li{
			display: inline-block;
			& + li{
				margin-left: 30px;
			}
		}
	}
}

//End Header

//Start Search

.search{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 533px;
	&__inner{
		padding: 155px 0 100px;
		color: #ffffff;
		text-align: center;
		&-title{
			margin-bottom: 10px;
			font-size: 48px;
			line-height: 72px;
			font-weight: 700;
		}
		&-text{
			margin-bottom: 50px;
			font-size: 20px;
			left: 30px;
			font-weight: 500;
		}
		&-form{
			max-width: 670px;
			margin: 0 auto;
			position: relative;
			input{
				display: block;
				width: 100%;
				height: 56px;
				border-radius: 4px;
				box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
				border: none;
				font-size: 14px;
				font-weight: 500;
				padding-left: 25px;
				padding-right: 60px;
				&::placeholder{
					color: #90a4ae;
				}
			}
			button{
				position: absolute;
				border: none;
				background-color: transparent;
				right: 20px;
				top: 16px;
			}
		}
	}
}
//End Search

//Start Produts

.products{
	padding: 110px 0;
	background-color: $grey;
	&__inner-btn{
		text-align: center;
		margin-bottom: 60px;
		button{
			padding: 12px 21px;
			border: none;
			background-color: #fff;
			color: $bgcolor;
			cursor: pointer;
			& + button{
				margin-left: 5px;
			}
			&.mixitup-control-active{
				background-color: $accent;
				color: #ffffff;
			}
		}
	}
	&__inner-box{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__bottom-btn{
		text-align: center;
		button{
			margin: 45px 5px 0;
			box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
			border: none;
			background-color: #fff;
			color: $bgcolor;
			padding: 20px 30px;
			cursor: pointer;
			&.mixitup-control-active{
				background-color: $accent;
				color: #ffffff;
			}
		}
	}
}

.product__item{
	max-width: 442px;
	margin-bottom: 30px;
	width: 100%;
	box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
	&-img{
		min-height: 250px;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&-content{
		display: flex;
		justify-content: space-between;
		padding: 10px 30px;
		align-items: center;
		min-height: 90px;
		font-weight: 500;
		border-bottom: 1px solid #e7ece2;
	}
	&-name{
		display: block;
		max-width: 310px;
	}
	&-title{
		display: block;
		color: $bgcolor;

		font-size: 18px;
	}
	&-category{
		display: block;
		font-size: 14px;
		color: $green;
	}
	&-price{
		font-size: 20px;
		color: $bgcolor;
		font-weight: 700;
	}
	&-info{
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
		padding: 10px 30px;
	}
	&-author{
		display: flex;
		align-items: center;
		max-width: 245px;
		.avatar{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			margin-right: 15px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: inline-block;
		}
		span{
			font-size: 14px;
			font-weight: 500;
		}
	}
	&-star{
		font-size: 12px;
		span{
			color: $bgcolor;

		}
	}
}

//End Products

//Start Product Slider
.product-slider{
	padding: 110px 0 120px;
	.slick-dots{
		margin-top: 50px;
		text-align: center;
		li{
			display: inline-block;
			margin-left: 3px;
			margin-right: 3px;
			&.slick-active button{
				background-color: $green;
			}
			button{
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background-color: rgb(232, 232, 232);
				border: none;
				font-size: 0;
				cursor: pointer;
				outline: none;
			}
		}
	}
}
//End Product Slider

//Start Advantages
.advantages{
	background-color: $bgcolor;
	padding: 110px 0;
	text-align: center;
	&__title{
		color: #ffffff;
		font-size: 36px;
		line-height: 36px;
		font-weight: 700;
		margin-bottom: 80px;
	}
	&__inner{
		display: flex;
		justify-content: space-between;
	}
	&__item{
		max-width: 370px;
		text-align: center;
		padding: 0px 15px;
		&:hover{
			.advantages__item-images{
				background-color: $green;
				transition: all 0.3s;
				path{
					fill: #fff;
				}
			}
			.advantages__item-title{
				color: $green;
				transition: all 0.3s;
			}
		}
		&-images{
			width: 114px;
			height: 114px;
			background-color: #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto 30px;
		}
		&-title{
			margin-bottom: 25px;
			color: #fff;
			font-size: 24px;
			font-weight: 500;
		}
		&-text{
			font-size: 15px;
		}
	}
}

//End Advantages

// Start author
.author{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 750px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__box{
		max-width: 650px;
		width: 100%;
		min-height: 215px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $green;
	}
	&__title{
		font-weight: 400;
		font-size: 30px;
		line-height: 36px;
		color: #ffffff;
		margin-right: 45px;
		max-width: 264px;
		span{
			font-weight: 700;
		}

	}
	&__link{
		font-size: 18px;
		line-height: 36px;
		padding: 14px 40px;
		background-color: #fff;
	}
}

// End author
